.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto; }

.offer {
  margin-top: 46px;
  margin-bottom: 72px; }

.offer__title {
  font-family: "Gotham", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 31.8px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.4px;
  color: #323232;
  margin-bottom: 6px;
  margin-left: -1px;
  letter-spacing: 0.1px; }

.offer__place {
  font-family: "Gotham", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #636363;
  font-weight: 600;
  margin-bottom: 7px;
  padding-left: 1px; }

.offer__description {
  font-family: "Gotham", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #656565;
  font-weight: normal;
  margin-bottom: 7px;
  padding-left: 1px; }

.offer-fig {
  position: relative; }

.offer-figcap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #F1EEEE;
  font-family: inherit;
  letter-spacing: 0.1px;
  width: 100%;
  height: 70px;
  padding: 0 9px;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.5);
  font-weight: lighter; }

.gallery .gallery__content {
  margin-bottom: 5px;
  position: relative;
  height: 370px;
  overflow: hidden; }

.gallery {
  margin-bottom: 59px; }

.gallery img {
  object-fit: cover; }

.gallery-thumbs {
  overflow: hidden;
  position: absolute;
  top: 0; }

.gallery__extra-photos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 122, 1, 0.8);
  font-family: inherit;
  font-size: 32px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-weight: lighter; }

.modal {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0; }

.gallery-nav-modal {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px; }

.modal__close {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 5%;
  right: 5%;
  border: #fff solid 1px;
  color: #fff;
  background: transparent;
  border-radius: 3px;
  z-index: 2010;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer; }

.gallery-thumb {
  float: left;
  margin-right: 4.4px;
  position: relative; }
  .gallery-thumb.active {
    opacity: .5; }

.gallery__thumb--last {
  margin-right: 0;
  position: relative; }

.gallery-nav {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 60px; }

.modal__navigator-wrapper {
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden; }

.modal__navigator {
  height: 60px;
  text-align: center;
  white-space: nowrap; }

.modal__thumb {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 90px;
  height: 60px;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  cursor: pointer; }

.modal__thumb--selected:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none; }

.modal__photo-wrapper {
  height: 100vh;
  padding-bottom: 80px; }
  .modal__photo-wrapper .slick-slider .slick-track,
  .modal__photo-wrapper .slick-slider .slick-list {
    height: 100%; }

.modal__photo {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 45px;
  height: 70px;
  margin-top: -35px;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: #f2eaf5;
  font-size: 25px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  outline: 0; }

.arrow--prev {
  left: 0;
  background-image: url(../images/icons/slick-prev.png); }

.arrow--next {
  right: 0;
  background-image: url(../images/icons/slick-next.png); }

@media all and (max-width: 940px) {
  .gallery-nav {
    display: none; } }

.options-header {
  overflow: hidden;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 29px; }

.options-title {
  font-family: inherit;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.4px;
  color: #323232;
  margin-top: 6px;
  float: left;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 4px; }

.options-controls {
  float: right;
  overflow: hidden; }

.options-control {
  float: left;
  margin-bottom: 10px; }
  .options-control:first-child {
    margin-right: 39px; }

.options-control-label {
  font-family: inherit;
  font-size: 9px;
  line-height: 15px;
  color: #666666;
  text-transform: uppercase;
  margin-right: 8px;
  letter-spacing: 0.6px; }

.options-control-select {
  width: 180px;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 1px;
  box-shadow: 1px 1px 7px -2px rgba(0, 0, 0, 0.3);
  margin: 1px 2px 2px 0;
  background-color: #fff;
  font-size: 12px; }
  .options-control-select.diarias {
    width: 80px; }

.options {
  min-height: 640px; }

.option {
  border: 1px solid #e4e4e4;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 2px;
  transition: border .3s;
  -webkit-animation: optionin .3s 1;
          animation: optionin .3s 1; }
  .option:hover {
    border: 1px solid #fab23c; }

@-webkit-keyframes optionin {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes optionin {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.option-title {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1px;
  font-weight: 600;
  margin-bottom: 17px; }
  .option-title.saidas {
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 19px; }

.option-texto {
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  padding-left: 1px; }

.option-value {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.1px;
  color: #666666;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 19px; }
  .option-value .value {
    display: block;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-bottom: 3px; }
    .option-value .value span {
      font-size: 31px;
      line-height: 32px;
      letter-spacing: 3px; }

.option-btn {
  width: 140px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  background-color: #ff7a01;
  text-transform: uppercase;
  border: none;
  color: white;
  display: block;
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Gotham", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.option-attr {
  font-family: inherit;
  font-size: 11px;
  line-height: 11px;
  padding-left: 38%; }

.separador-attrs {
  height: 1px;
  border: none;
  width: 10px;
  background-color: #666666;
  margin: 17px auto 15px auto; }

.numero-destaque {
  font-family: inherit;
  font-size: 21px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 3px;
  padding-left: 38%;
  margin-top: 2px; }

.diaria {
  width: 24px;
  height: 16px;
  background: url(../images/icons/diarias.png);
  display: inline-block;
  margin-left: -4px; }

.pessoa {
  width: 10px;
  height: 21px;
  background: url(../images/icons/pessoas.png);
  display: inline-block;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  margin-left: 2px; }

.tipo-tarifa {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1px; }
  .tipo-tarifa.reembolsavel {
    color: #fab23c; }
  .tipo-tarifa.gratis {
    color: #3bad00; }

.col1, .col2, .col3, .col4 {
  float: left;
  height: 195px;
  padding: 17px 0px 5px 7px; }

.col1 {
  width: 42.55319%;
  border-right: 1px solid #e4e4e4; }

.col2 {
  padding-left: 19px;
  width: 17.02128%;
  border-right: 1px solid #e4e4e4; }

.col3 {
  width: 17.02128%;
  border-right: 1px solid #e4e4e4; }

.col4 {
  width: 23.40426%; }

@media all and (max-width: 960px) {
  .options-section {
    margin-left: 10px;
    margin-right: 10px; } }

@media all and (max-width: 810px) {
  .options-section {
    margin-left: 10px;
    margin-right: 10px; }
  .col1 {
    width: 75%; }
  .col2 {
    width: 25%; }
  .col3 {
    border-top: 1px solid #e4e4e4;
    width: 25%; }
  .col4 {
    border-top: 1px solid #e4e4e4;
    width: 75%; } }

@media all and (max-width: 420px) {
  .col1 {
    width: 100%; }
  .col2 {
    border-top: 1px solid #e4e4e4;
    width: 50%; }
  .col3 {
    border-top: 1px solid #e4e4e4;
    width: 50%; }
  .col4 {
    border-top: 1px solid #e4e4e4;
    width: 100%; } }
